
body {
    font-family: 'Roboto', sans-serif;
    background-color:#fff;
}
.list {
list-style: none;
}
.link {
    text-decoration: none;
}

/* -------header----- */
    .header {

    }
    .header-navigation {
    }
    .header-logo {
    }
    .header-list {
    }
    .header-item {
        
    }
    .header-link {

font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2E2F42;
    }
    .header-mailto {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
    }
    .header-phone {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
    }

  .main-btn {
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;

  }  
  .main-btn:hover {
color:#404bbf ;
  }
  /* section */

.section-list {


}
.button-list {
  
}    
.button-list:hover {
    color:#404bbf ;
}
.button-list:focus {
    color: #404bbf;
}
.section-list {

}
.list {
}
.section-button-list {
}
.section-button {
}
.button {
}

.Solutions{
    color:#fff;
}
.section4{
    background-color: #F4F4FD;
    display: flex;
    flex-direction: row;
}


.footer{
    background-color: #2E2F42;
}